@keyframes rainbow {
	0% {color: red;}
	8.3% {color: orange;}
	16.6% {color: yellow;}
	24.9% {color: green;}
	33.2% {color: blue;}
	41.5% {color: indigo;}
	49.8% {color: purple;}
	58.1% {color: indigo;}
	66.4% {color: blue;}
	74.7% {color: green;}
	83% {color: yellow;}
	91.3% {color: orange;}
	100% {color: red;}
}

@keyframes typing {
	from {width: 0;}
	to {width: var(--ays-sign-length);}
}
@keyframes blink {
	from, to {border-color: transparent;}
	50% {border-color: currentColor;}
}